@charset "EUC-KR";

.notnull {color:#e60000;}
.test .notnull {color:#e60000;}
/* .test span {color:blue; font-size: 90px;} */


/*

important!

#id

.class

요소

div
p
a

input[type="text"]
input[type="checkbox"]
input[type="checkbox"].checked 



div div div

<div>
	<div>
	<div>얘</div>
	</div>
</div>

div > div + div

<div>
	<div>
		<div><div>
	</div>
	<div>얘</div>
</div>

div > div:first-child


<div>
	<div>얘</div>
	<div>
		<div><div>
	</div>
</div>







*/